* {
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
    margin: 0;
}

body{
	display: flex;
	flex-direction: column;
	align-items:center;
}

#title{

	padding: 20px 0 5px 0;
	width: 100%;
	text-align: center;

	font-size: 70px;
	font-weight: 600;
}

#subtitle{
	width: 100%;
	text-align: center;

	font-size: 30px;
}


.planes--container{
	margin: 50px 0;
	padding: 5px;
	width: 70%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 5px;
	align-items: center;

	border: 5px dotted black;
	border-radius: 20px;
}

.plane--item{
	border-radius: 6px;
	padding: 3px;
	display: flex;
	gap: 10px;
	margin: 10px;
}

.indication--container{
	font-size: 20px;

	display: flex;
	flex-direction: column;
	gap: 5px;

	border: 3px solid red;
	border-radius: 20px;
	padding: 5px;
}

.indicator{
	text-align: center;
}

.value{
	text-align: center;
}


.loading--info{
	position: absolute;
	width: 100%;
	height: 100%;

	background: rgba(0, 0, 0, 0.96);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 50px;
}

.loading--info i{
	font-size: 60px;
	color: white;
}

.loading--info p{
	font-size: 40px;
	color: white;
}
